@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <div class="hero-content">
        <h1 class="display-4 texto">Bem-Vindo!</h1>
        <p class="texto">Estamos sempre prontos para servir.</p>
    </div>
</div>